html { 
	overflow-x:hidden; 
	background-color: #1a1a1d;

}

body {
	margin:0;
	font-size:16px;
	background: transparent;
	font-family: 'Abel', sans-serif;
	background-color: #1a1a1d;

}

.typewriter {
	height: 500px;
	background-color: #1a1a1d;
	text-align: center;
}

.typewriter h1 {
	font-size: 60px;
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em; /* Adjust as needed */
	animation: 
	  typing 6s steps(40, end),
	  blink-caret .75s step-end infinite;
  }

h1,
h2 {
	font-weight: bolder;
	text-align:center;
	color: #c3073f;

}

h3 {
	color: white;
	text-align: center;

}

h4 {
	border-radius: 10px;
	background-color: #1a1a1d;
	padding: 20px;
	color: white;

}

h5 {
	color: #950740;
	text-align: center;

}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.top {
	background-image: url("");
	background-size: cover;
	background-attachment: fixed;

}

#hexagon {
    width: 100%;
    background-color: #4e4e50;
    position: relative;
	margin: 0px auto;
	padding: 70px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

#hexagon:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -25px;
    left: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
	border-bottom: 30px solid #4e4e50;

}

#hexagon:after {
    content: "";
    width: 0;
    height: 0;
	position: absolute;
    bottom: -25px;
    right: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
	border-top: 30px solid #4e4e50;

}
  

.quote {
	float: right;

}

.skills {
	color: white;
	border-radius: 10px;
	padding: 30px;
	margin: 50px 0px 50px 0px;
	background-color: #4e4e50;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.contact {
	position: relative;
	top: -100px;
	background-color: #6f2232;
	color: white;
	border-radius: 10px;
	padding: 30px;
	margin: 50px 0px 50px 0px;

}


.row {
	clear: both;
}

ul {
	margin:0;
	padding:0;
	text-decoration:none;
	list-style:none;
}

li {
	padding:0;
	margin:0;
}

nav {
	text-align:center;
	width:100%;
	position:relative;
	height:auto;
	overflow:hidden;
	background:none;
}
nav ul {
	text-align:center;
}
nav ul li {
	display:inline-block;
}
nav ul li a {
	color:#c3073f;
	display:inline-block;
	padding:1em 3em;
	text-decoration:none;
	border-bottom:2px solid #fff;
	transition-property:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
	font-size:16px;
}
nav ul li a:hover {
	color: #950740;
}
/*styling open close button*/
.button {
	display:inline;
	position:absolute;
	right:50px;
	top:6px;
	z-index:999;
	font-size:30px;
}
.button a {
	text-decoration:none;
}
.btn-open:after {
	color:#333;
	content:"\f0c9";
	font-family:"FontAwesome";
	transition-property:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
}
.btn-open:hover:after {
	color: #c3073f;
}
.btn-close:after {
	color: #1a1a1d;
	content:"\f00d";
	font-family:"FontAwesome";
	transition-property:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
}
.btn-close:hover:after {
	color: #c3073f;
}
/*overlay*/
.overlay {
	display:none;
	position:fixed;
	top:0;
	height:100%;
	width:100%;
	background:#333;
	overflow:auto;
	z-index:99;
}
.wrap {
	color:#e9e9e9;
	text-align:center;
	max-width:90%;
	margin:0 auto;
}
.wrap ul.wrap-nav {
	border-bottom:1px solid #575757;
	text-transform:capitalize;
	padding:150px 0px 100px;
}
.wrap ul.wrap-nav li {
	font-size:20px;
	display:inline-block;
	vertical-align:top;
	width:24%;
	position:relative;
}
.wrap ul.wrap-nav li a {
	color:#c3073f;
	display:block;
	padding:8px 0;
	text-decoration:none;
	transition-property:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
}
.wrap ul.wrap-nav li a:hover {
	color:#f0f0f0;
}
.wrap ul.wrap-nav ul {
	padding:20px 0;
}
.wrap ul.wrap-nav ul li {
	display:block;
	font-size:13px;
	width:100%;
	color:#e9e9e9;
}
.wrap ul.wrap-nav ul li a {
	color:#f0f0f0;
}
.wrap ul.wrap-nav ul li a:hover {
	color:#c3073f;
}
.social {
	font-size:25px;
	padding:20px;
}
.social p {
	margin:0;
	padding:20px 0 5px 0;
	line-height:30px;
	font-size:13px;
}
.social p a {
	color:#c3073f;
	text-decoration:none;
	margin:0;
	padding:0;
}
.social-icon {
	width:80px;
	height:50px;
	background:#e9e9e9;
	color:#333;
	display:inline-block;
	margin:0 20px;
	transition-property:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
}
.social-icon:hover {
	background:#c3073f;
	color:#f0f0f0;
}

.social-icon i {
	margin-top: 12px;
}

.slide {
    margin: 0 auto;


}

  
  .parent2 {
    top:15px;
    left:15px;
    position:fixed;
   display:block;
    width:100px;
    height:100px;
    background-color:transparent;
    border-radius:50%;
    z-index:20;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  }
  .test1 {
    width:60%;
    height:60%;
    background-color:dimGray;
    border-radius:50%;
    position:absolute;
    color:white;
    text-align:center;
    line-height:70px;
      top:25%;
    left:25%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
      position:absolute;
  }

  .test1:hover {
      background-color: black;
  }


  .test2 {
    width:60%;
    height:60%;
    background-color:dimGray;
    border-radius:50%;
    position:absolute;
    color:white;
    text-align:center;
    line-height:70px;
      top:25%;
    left:25%;
    z-index:19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .2s;
  }
  .test3 {
    width:60%;
    height:60%;
    background-color:dimGray;
    border-radius:50%;
    position:absolute;
    color:white;
    text-align:center;
    line-height:70px;
      top:25%;
    left:25%;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .4s;  
  }
    .test4 {
    width:60%;
    height:60%;
    background-color:dimGray;
    border-radius:50%;
    position:absolute;
    color:white;
    text-align:center;
    line-height:70px;
    top:25%;
    left:25%;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .6s;  
  }
  .mask2 {
    top:15px;
    left:15px;
    width:100px;
    height:100px;
    background: #950740;
    border-radius:50%;
    position:absolute;
    z-index:21;
    color:white;
    text-align:center;
    line-height:120px;
    cursor:pointer;
    position:fixed;
  }

  .mask2:hover {
	background-color: #c3073f;
  }

  .bitmoji {
      height: 100px;
      width: 100px;
      position: relative;
      bottom: 4px;
  }


  .clearfix::after {
    content:  "";
    display: block;
    clear: both;
}

.col-md-4 {
	overflow:hidden;
	border-radius: 10px;

}

.box1 {
	background-color: white;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	border-radius: 10px;
	-webkit-transition: all 1s ease; /* Safari and Chrome */
	-moz-transition: all 1s ease; /* Firefox */
	-ms-transition: all 1s ease; /* IE 9 */
	-o-transition: all 1s ease; /* Opera */
	transition: all 1s ease;
	
  }

  .image {
	  display: block;
	  width: 100%;
	  height: 300px;
	  border-radius: 10px;
	  opacity: 1.0;
	  filter: alpha(opacity=100);

  }

.box1:hover {
	-webkit-transform:scale(1.25); /* Safari and Chrome */
	-moz-transform:scale(1.25); /* Firefox */
	-ms-transform:scale(1.25); /* IE 9 */
	-o-transform:scale(1.25); /* Opera */
	 transform:scale(1.25);
}

.box2 {
	background-color: white;
	height: 300px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-webkit-transition: all 1s ease; /* Safari and Chrome */
	-moz-transition: all 1s ease; /* Firefox */
	-ms-transition: all 1s ease; /* IE 9 */
	-o-transition: all 1s ease; /* Opera */
	transition: all 1s ease;

}

.box2:hover {
	-webkit-transform:scale(1.25); /* Safari and Chrome */
	-moz-transform:scale(1.25); /* Firefox */
	-ms-transform:scale(1.25); /* IE 9 */
	-o-transform:scale(1.25); /* Opera */
	 transform:scale(1.25);
}

.box3 {
	background-color: white;
	height: 300px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-webkit-transition: all 1s ease; /* Safari and Chrome */
	-moz-transition: all 1s ease; /* Firefox */
	-ms-transition: all 1s ease; /* IE 9 */
	-o-transition: all 1s ease; /* Opera */
	transition: all 1s ease;
}

.box3:hover {
	-webkit-transform:scale(1.25); /* Safari and Chrome */
	-moz-transform:scale(1.25); /* Firefox */
	-ms-transform:scale(1.25); /* IE 9 */
	-o-transform:scale(1.25); /* Opera */
	 transform:scale(1.25);
}

.box4 {
	background-color: white;
	height: 300px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-webkit-transition: all 1s ease; /* Safari and Chrome */
	-moz-transition: all 1s ease; /* Firefox */
	-ms-transition: all 1s ease; /* IE 9 */
	-o-transition: all 1s ease; /* Opera */
	transition: all 1s ease;
}

.box4:hover {
	-webkit-transform:scale(1.25); /* Safari and Chrome */
	-moz-transform:scale(1.25); /* Firefox */
	-ms-transform:scale(1.25); /* IE 9 */
	-o-transform:scale(1.25); /* Opera */
	 transform:scale(1.25);
}

.box5 {
	background-color: white;
	height: 300px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-webkit-transition: all 1s ease; /* Safari and Chrome */
	-moz-transition: all 1s ease; /* Firefox */
	-ms-transition: all 1s ease; /* IE 9 */
	-o-transition: all 1s ease; /* Opera */
	transition: all 1s ease;
}

.box5:hover {
	-webkit-transform:scale(1.25); /* Safari and Chrome */
	-moz-transform:scale(1.25); /* Firefox */
	-ms-transform:scale(1.25); /* IE 9 */
	-o-transform:scale(1.25); /* Opera */
	 transform:scale(1.25);

}

.box6 {
	background-color: white;
	height: 300px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-webkit-transition: all 1s ease; /* Safari and Chrome */
	-moz-transition: all 1s ease; /* Firefox */
	-ms-transition: all 1s ease; /* IE 9 */
	-o-transition: all 1s ease; /* Opera */
	transition: all 1s ease;
	
}

.box6:hover {
		-webkit-transform:scale(1.25); /* Safari and Chrome */
	-moz-transform:scale(1.25); /* Firefox */
	-ms-transform:scale(1.25); /* IE 9 */
	-o-transform:scale(1.25); /* Opera */
	 transform:scale(1.25);

}

/* button animation */
.github {
	text-align: center;
}

button {
	background: #c3073f;
	color:#fff;
	border:none;
	position:relative;
	height:60px;
	font-size:1.6em;
	padding:0 2em;
	cursor:pointer;
	transition:800ms ease all;
	outline:none;
	margin: 0 auto;
	
  }

  button:hover {
	background:#1a1a1d;
	color:#c3073f;

  }

  button:before,button:after {
	content:'';
	position:absolute;
	top:0;
	right:0;
	height:2px;
	width:0;
	background: #c3073f;
	transition:400ms ease all;

  }

  button:after {
	right:inherit;
	top:inherit;
	left:0;
	bottom:0;

  }
  button:hover:before,button:hover:after {
	width:100%;
	transition:800ms ease all;

  }
  

  .spot {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
  }

  /*
	  This is the outer svg wrapper that the SVG itself will 
	  fill. Multiple svg-wrapper classes can be put side by side.
  */
  
  .svg-wrapper {
	margin-top: 15px;
	position: relative;
	width: 150px;
	/*make sure to use same height/width as in the html*/
	height: 40px;
	display: inline-block;
	border-radius: 3px;
	margin-left: 5px;
	margin-right: 5px
  }
  /*
	This is where we define the fill, color, thickness,
	and stroke pattern of the SVG when there is no hover.
	The dasharray and offset together define the line position
	under the words. Here's also where the transition speed is set.
  */
  
  #shape {
	stroke-width: 6px;
	fill: transparent;
	stroke: white;
	stroke-dasharray: 85 400;
	stroke-dashoffset: -220;
	transition: 1s all ease;
  }
  /* 
	  Pushing the text up into the SVG. Without this the
	  text would be below the div's.
  */
  
  #text {
	margin-top: -41px;
	text-align: center;
  }
  
  #text a {
	color: white;
	text-decoration: none;
	font-weight: 100;
	font-size: 1.1em;
  }

  #text a:hover {
	color: #950740;

  }

  /* 
	  Changing the shape on hover. I change the color of the stroke,
  make it thinner, then set it to again wrap around the entire parent element.
  */
  
  .svg-wrapper:hover #shape {
	stroke-dasharray: 50 0;
	stroke-width: 3px;
	stroke-dashoffset: 0;
	stroke: #c3073f;
  }


  footer {
	background-color: #4e4e50;
}

.bottom {
	text-align: center;
	color: white;
	padding: 20px;
	
}
  

@media screen and (max-width:48em) {

	.wrap ul.wrap-nav>li {
		width:100%;
		padding:20px 0;
		border-bottom:1px solid #575757;
	}
	.wrap ul.wrap-nav {
		padding:30px 0px 0px;
	}
	.svg-wrapper {
		opacity:0;
		visibility:hidden;
	}

	.social {
		color:#c1c1c1;
		font-size:25px;
		padding:15px 0;
	}
	.social-icon {
		width:100%;
		height:50px;
		background:#fff;
		color:#333;
		display:block;
		margin:5px 0;
	}
}

@media screen and (max-width: 700px) {

	.typewriter h1 {
		display: none;

	}

	.skills {
		margin: 0px;
		padding: 0px;

	}

	.contact {
		margin: 0px;
		padding: 0px;
	}

	
}